In [30]:
import pandas as pd
import numpy as np
from pathlib import Path

In [87]:
file_path = Path.home() / 'Pythonic' / 'executables' / 'ADAUSD_5m.df'
ohlcv = pd.read_pickle(file_path)

In [88]:
type(ohlcv)

pandas.core.frame.DataFrame

In [89]:
ohlcv['ema-10'] = ohlcv['close'].ewm(span = 10, adjust=False).mean()
ohlcv['ema-21'] = ohlcv['close'].ewm(span = 21, adjust=False).mean()

In [91]:
ohlcv['condition'] = ohlcv['ema-10'] > ohlcv['ema-21']

In [93]:
ohlcv[(ohlcv['condition']).diff().fillna(False)]

,close_time,open,high,low,close,volume,ema-10,ema-21,condition
2,1629455100,2.510031,2.521691,2.510031,2.520449,41457.942743,2.515681,2.515615,True
8,1629456900,2.510854,2.510854,2.503580,2.506518,77564.463993,2.517279,2.517345,False

In [92]:
ohlcv

,close_time,open,high,low,close,volume,ema-10,ema-21,condition
0,1629454500,2.517279,2.526499,2.514292,2.515642,169426.266647,2.515642,2.515642,False
1,1629454800,2.517187,2.519053,2.508900,2.510031,72646.826814,2.514622,2.515132,False
2,1629455100,2.510031,2.521691,2.510031,2.520449,41457.942743,2.515681,2.515615,True
3,1629455400,2.521740,2.527249,2.519636,2.527249,34858.226532,2.517785,2.516673,True
4,1629455700,2.527249,2.534001,2.525474,2.534001,109677.296322,2.520733,2.518248,True
5,1629456000,2.534000,2.534000,2.524481,2.527657,66041.636103,2.521992,2.519104,True
6,1629456300,2.525728,2.532218,2.516475,2.520001,403971.852237,2.521630,2.519185,True
7,1629456600,2.520000,2.520870,2.510854,2.510854,17445.812775,2.519671,2.518428,True
8,1629456900,2.510854,2.510854,2.503580,2.506518,77564.463993,2.517279,2.517345,False
9,1629457200,2.506379,2.506610,2.499253,2.499576,327143.785239,2.514060,2.515730,False
10,1629457500,2.499682,2.499999,2.483484,2.489732,317949.676231,2.509637,2.513366,False
11,1629457800,2.492695,2.497164,2.484651,2.487836,61952.422092,2.505673,2.511045,False
12,1629458100,2.487380,2.499117,2.484001,2.497441,115488.500881,2.504177,2.509809,False
13,1629458400,2.497993,2.508550,2.496428,2.507713,138839.108170,2.504820,2.509618,False
14,1629458700,2.507714,2.511704,2.503317,2.510754,368660.847001,2.505899,2.509721,False
15,1629459000,2.510276,2.510784,2.492389,2.493269,153163.877641,2.503602,2.508226,False
16,1629459300,2.495581,2.501744,2.494471,2.497903,41725.153682,2.502566,2.507287,False
17,1629459600,2.497706,2.502328,2.492438,2.492438,41735.517146,2.500725,2.505937,False
18,1629459900,2.492360,2.492360,2.483197,2.483616,87220.914936,2.497614,2.503908,False
19,1629460200,2.486802,2.486802,2.486802,2.486802,50.000000,2.495648,2.502353,False