In [16]:
import pandas as pd
import numpy as np
from pathlib import Path

In [39]:
file_path = Path.home() / 'Pythonic' / 'executables' / 'ADAUSD_5m.df'
ohlcv = pd.read_pickle(file_path)

In [41]:
ohlcv['ema-10'] = ohlcv['close'].ewm(span = 10, adjust=False).mean()
ohlcv['ema-21'] = ohlcv['close'].ewm(span = 21, adjust=False).mean()

In [42]:
ohlcv['condition'] = ohlcv['ema-10'] > ohlcv['ema-21']

In [43]:
ohlcv

,close_time,open,high,low,close,volume,ema-10,ema-21,condition
0,1629680400,2.746793,2.761523,2.739714,2.759201,596649.069574,2.759201,2.759201,False
1,1629680700,2.759160,2.785913,2.758221,2.783321,357545.252741,2.763586,2.761394,True
2,1629681000,2.783629,2.797256,2.772343,2.783978,265158.413655,2.767294,2.763447,True
3,1629681300,2.785700,2.797900,2.782557,2.794352,206078.738076,2.772214,2.766256,True
4,1629681600,2.794925,2.847129,2.794924,2.847129,937773.452534,2.785835,2.773608,True
...,...,...,...,...,...,...,...,...,...
715,1629894900,2.675921,2.682126,2.674464,2.682126,84168.444778,2.675164,2.667620,True
716,1629895200,2.682629,2.692902,2.682629,2.686278,17573.872123,2.677185,2.669316,True
717,1629895500,2.686337,2.702999,2.686337,2.702200,25050.775186,2.681733,2.672305,True
718,1629895800,2.700826,2.720690,2.700826,2.720690,82298.937461,2.688816,2.676704,True
719,1629896100,2.720749,2.722330,2.713644,2.718367,158690.978708,2.694189,2.680492,True

In [44]:
trades = ohlcv[(ohlcv['condition']).diff().fillna(False)]

In [47]:
trades

,close_time,open,high,low,close,volume,ema-10,ema-21,condition
1,1629680700,2.759160,2.785913,2.758221,2.783321,357545.252741,2.763586,2.761394,True
28,1629688800,2.792119,2.794554,2.766017,2.770821,249870.643753,2.802209,2.802622,False
32,1629690000,2.802055,2.819488,2.801324,2.819488,37040.823415,2.802622,2.802246,True
38,1629691800,2.798921,2.798921,2.786708,2.789882,74614.994404,2.800183,2.801288,False
54,1629696600,2.792500,2.806112,2.792500,2.806112,105419.583881,2.793986,2.793648,True
65,1629699900,2.795236,2.801261,2.786453,2.786453,261032.697846,2.798608,2.799493,False
68,1629700800,2.801748,2.811144,2.801748,2.810001,18711.835939,2.800860,2.800395,True
74,1629702600,2.797799,2.804200,2.795270,2.796245,137523.957289,2.801299,2.801334,False
75,1629702900,2.796524,2.806505,2.795102,2.805937,61823.904427,2.802142,2.801752,True
105,1629711900,2.823728,2.823810,2.815392,2.823810,74980.655925,2.832684,2.833403,False
125,1629717900,2.831102,2.831102,2.828776,2.828777,2818.382928,2.826247,2.826155,True
133,1629720300,2.822617,2.824659,2.815860,2.820727,76605.246901,2.826204,2.826753,False
144,1629723600,2.824000,2.851283,2.820000,2.847658,277113.888484,2.827990,2.826308,True
213,1629744300,2.922343,2.927484,2.902599,2.907100,100958.687978,2.920477,2.921341,False
234,1629750600,2.909000,2.923615,2.907458,2.923615,88775.452949,2.898125,2.896553,True
271,1629761700,2.930000,2.930001,2.925000,2.925002,12336.871308,2.938689,2.939079,False
330,1629779400,2.866135,2.876757,2.866135,2.872917,42762.814396,2.858653,2.857604,True
387,1629796500,2.898362,2.898362,2.883044,2.886562,80413.113966,2.904787,2.906805,False
419,1629806100,2.883703,2.888834,2.883703,2.888834,40631.016202,2.877915,2.877503,True
421,1629806700,2.878114,2.878114,2.868508,2.872223,28977.303823,2.876917,2.877077,False
484,1629825600,2.724301,2.724303,2.712474,2.716242,298975.996763,2.686972,2.685257,True
534,1629840600,2.789620,2.791215,2.766513,2.766513,364754.195094,2.800929,2.802263,False
550,1629845400,2.776700,2.814993,2.776700,2.812473,150845.464901,2.788282,2.787962,True
556,1629847200,2.779000,2.779000,2.757022,2.760000,92754.524077,2.784451,2.786806,False
574,1629852600,2.775459,2.781194,2.768138,2.771408,17729.904708,2.762372,2.762329,True
575,1629852900,2.768652,2.768652,2.761343,2.761343,56784.321073,2.762185,2.762239,False
589,1629857100,2.760166,2.777781,2.760166,2.776382,46948.289010,2.750343,2.748397,True
609,1629863100,2.756471,2.762622,2.748042,2.748042,17623.684260,2.764015,2.765426,False
630,1629869400,2.755000,2.759757,2.754666,2.759574,25094.008310,2.746888,2.745621,True
655,1629876900,2.755594,2.758460,2.748708,2.749154,72735.357194,2.763349,2.764719,False
694,1629888600,2.662798,2.669567,2.661911,2.667343,7715.821603,2.654775,2.654451,True
697,1629889500,2.654602,2.654602,2.632627,2.633849,99832.931440,2.651928,2.653214,False
704,1629891600,2.660310,2.661887,2.657404,2.660200,63647.685029,2.653297,2.652760,True

In [46]:
profit   = 0.0
buyPrice = 0.0
bBought  = False

for index, row, in trades.iterrows():
    
    # skip first sell-indicator
    if not row['condition'] and not bBought:
        continue
    
    # buy-indication
    if row['condition'] and not bBought:
        bBought = True
        buyPrice = row['close']
        
        
    # sell-indication
    if not row['condition'] and bBought:
        bBought = False
        sellPrice = row['close']

        orderProfit = (sellPrice * 100) / buyPrice - 100
        
        profit += orderProfit
        

profit

-3.334281333020016