In [70]:
import pandas as pd
from pathlib import Path

In [85]:
file_path = Path.home() / 'Pythonic' / 'executables' / 'ADAUSD_5m.df'
ohlcv = pd.read_pickle(file_path)

#ohlcv['close_time'] = ohlcv['close_time'].floordiv(1000)
ohlcv

   close_time      open      high       low     close         volume
0  1629374100  2.071027  2.071027  2.057780  2.057780  144586.931677
1  1629374400  2.057780  2.071066  2.056573  2.071066   43402.844866
2  1629374700  2.052826  2.052924  2.052475  2.052924    1280.605130
3  1629375000  2.046966  2.046966  2.046966  2.046966       0.000000
4  1629375300  2.062589  2.062589  2.062589  2.062589     972.401600

In [46]:
ohlcv['open_time'] = ohlcv.apply(lambda row : row['open_time'] = int(row['open_time'] // int1000), axis = 1)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (426697533.py, line 1)

In [75]:
type(ohlcv['close_time'][0])

numpy.int64

In [76]:
ohlcv.shape[0]

2

In [83]:
ohlcv

   close_time      open      high       low     close        volume
0  1629372000  2.103128  2.105166  2.098335  2.100106  30792.860028
1  1629372300  2.100213  2.100213  2.100213  2.100213    250.000000